{% extends 'layout.html' %}

{% block body %}
    <div class="jumbotron text-center">
    <h1>Recommendation Request</h1>
    </div>
    <h3> Guide </h3>
    <p>
        <b>Movie Name:</b><br>
            text <br>
        <b>Top N: </b><br>
            Any integer, how many recommended movies desired

    <br>
    <br>

    </p>

    <div class = 'pane'>
    <form action="{{ url_for('recommendation')}}" method = 'post'>
    <!- recommendation need to sycn with navbar, app function name ->

        <dl>
            <dt>Movie Name:</dt>
                <dd><input type ='text' size='30' name='Movie Name' required></dd>
            <dt>Top N:</dt>
                <dd><input type="text" size="8" name = 'Top N' required></dd>
            <dt>Status:</dt>
                <dd><input type ='radio' name='Status' value='Released' checked>Released</dd>
                <dd><input type ='radio' name='Status' value='Not Released'>Not Released</dd>
        </dl>


    <input type='submit' value='Request'>

    </form>
</div>

{% endblock %}